<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=euitdsards01.cbfto3nat8jg.eu-west-1.rds.amazonaws.com;initial catalog=SosDevDb;persist security info=True;user id=SosDevAPIUser;password=pass#word1;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="Mode" value="Daily"/>
    <!--<add key ="IntervalMinutes" value ="1"/>-->
    <add key="ScheduledTime" value="08:04"/>
    <add key="ADUserName" value="svc-sostest"/>
    <add key="ADUserPassword" value="2et-cre7res4EweYaTuXAK5REdap2a"/>
    <add key="ActiveDirectoryOU" value="OU=Test,OU=SOS users,OU=Users,OU=vodafonelite,OU=ads,DC=ads,DC=vodafonelite,DC=com"/>
  </appSettings>
</configuration>
