
@{
    ViewBag.Title = "SendEmailConfirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Reset Link has been sent over email. Please follow instructions provided in the email to change your password.
    </p>
</div>


