<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit SOSEDMV10Entities
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=10.118.12.96; initial catalog=SosDevDb;persist security info=True;user id=sa; password=Megacube#1; MultipleActiveResultSets=True; Timeout=100000" providerName="System.Data.SqlClient" />
    <add name="SOSEDMV10Entities" connectionString="metadata=res://*/Models.SOSEDMV10.csdl|res://*/Models.SOSEDMV10.ssdl|res://*/Models.SOSEDMV10.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.118.12.96;initial catalog=SosDevDb;persist security info=True;user id=sa;password=Megacube#1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="SmtpServer" value="mail.megacube.com.au" />
    <add key="SenderEmail" value="notifier@megacube.com.au" />
    <add key="SenderPassword" value="notifier#123" />
    <add key="ExceptionEmailTo" value="rkumar@megacube.com.au" />
    <add key="ExceptionEmailCc" value="sgupta@megacube.com.au" />
    <add key="ExceptionEmailSubject" value="[SOS Dev Api Exception Notification]" />
    <add key="ExceptionEmailProjectName" value="[SOS Web Api]" />
    <add key="DefaultUserPassword" value="Vodafone!23" />
    <add key="CalcDocumentPath" value="S:/Temp" />
    <add key="PayDocumentPath" value="S:/Temp" />
    <add key="S3_SosFilePath" value="S:/" />
    <add key="S3_S2ACommomFilePath" value="T:/" />
    <add key="S3_A2SCommomFilePath" value="U:/" />
    <!--<add key="ADOConnectionString" value="data source=euitdsards01.cbfto3nat8jg.eu-west-1.rds.amazonaws.com;initial catalog=SosDevDb;persist security info=True;user id=SosDevAPIUser;password=pass#word1;MultipleActiveResultSets=True;" />-->
    <add key="ProjectEnviournment" value="Dev" />
    <add key="TestEmail" value="qa.vfone@gmail.com" />
    <!--Added by SG for Active Directory integration -->
    <add key="ADUserName" value="svc-sostest" />
    <add key="ADUserPassword" value="2et-cre7res4EweYaTuXAK5REdap2a" />
    <add key="ActiveDirectoryOU" value="OU=Test,OU=SOS users,OU=Users,OU=vodafonelite,OU=ads,DC=ads,DC=vodafonelite,DC=com" />
    <add key="ActiveDirectoryOUForUserGroup" value="OU=vodafonelite,OU=ads,DC=ads,DC=vodafonelite,DC=com" />
    <add key="TempDocumentPath" value="S:/Temp" />
    <!--added by SG for ForgotPassword OTP Validity Time-->
    <add key="OTPValidity" value="30" />
    <!-- Email Template for sending OTP for ForgotPassword-->
    <add key="EmailTemplateName" value="ForgotPasswordOTP" />
    <add key="SOSBucketRootFolder" value="" />
    <!--<add key="SOSAWSAccessKey" value="AKIA2PZEKIVA6JCWYZH3" />
    <add key="SOSAWSSecretKey" value="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" />-->
    <!--<add key="SOSAWSAccessKey" value="AKIA2PZEKIVA3XKWEQV6" />
    <add key="SOSAWSSecretKey" value="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" />-->
    <add key="SOSBucketname" value="project-lite-staging-bucket20200326092710470000000001" />
    <!--data-lite-sos-sos-->
    <add key="SOSTempPath" value="C:\SOSTemp" />
    <!-- Following entry is for temp files used by application(GenericGrid etc.)-->
    <add key="SOSBucketFolder" value="Temp" />
    <!--Updated from temp to Temp -->
    <add key="NewTempFolderPath" value="S:\Temp\GenericGridTemp" />
    <!--SMS Keys-->
    <!--<add key="SMSAccessKey" value="AKIAJOXPDJ5YJHKWDZVA" />
    <add key="SMSSecretKey" value="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" />-->
    <!--<add key="SMSAccessKey" value="AKIA3VF7GINB5JKBKPOZ" />
    <add key="SMSSecretKey" value="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" />-->
    <!--S:/tempfolder-->
    <add key="EmailServiceSOSBucketKeyName" value="SOSS3Bucketname" />
    <add key="EmailServiceSOSAccessKeyName" value="SOSS3AccessKey" />
    <add key="EmailServiceSOSSecretKeyName" value="SOSS3SecretKey" />
    <add key="EmailServiceA2SBucketKeyName" value="A2SS3Bucketname" />
    <add key="EmailServiceA2SAccessKeyName" value="A2SS3AccessKey" />
    <add key="EmailServiceA2SSecretKeyName" value="A2SS3SecretKey" />
    <!--<add key="A2SS3AccessKey" value="AKIA2PZEKIVA2M5UEY22" />
    <add key="A2SS3SecretKey" value="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" />-->
    <!--<add key="A2SS3AccessKey" value="AKIA2PZEKIVA22AZ5GUO" />
    <add key="A2SS3SecretKey" value="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" />-->
    <add key="A2SS3Bucketname" value="project-lite-staging-sos-int20200415094638927500000001" />
    <add key="A2SS3BucketFolder" value="transfer/a2s" />
    <add key="S2AS3BucketFolder" value="transfer/s2a" />
    <add key="LocalTempFileFolder" value="S:" />
    <add key="SystemUser" value="sos@vodafone.com" />
    <!--RK ADDED-->
    <add key="MicrosoftOLEDBConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 12.0;HDR=Yes;IMEX=2;'" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5" executionTimeout="1000000" enableVersionHeader="false" />
    <!--Added this because raw data grid was timing out for 900 thousand rows timeout is in seconds-->
  </system.web>
  <system.webServer>
    <!--Added By RK20042017 to Hide info-->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>