<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="data source=euitdsards01.cbfto3nat8jg.eu-west-1.rds.amazonaws.com;initial catalog=SosDevDb;persist security info=True;user id=SosDevAPIUser;password=pass#word1;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
   <!--<add name="DefaultConnection" connectionString="data source=DEVSERVER01\SQLEXPRESS; initial catalog=SosDevDb;persist security info=True;user id=sa;password=Vfone!23;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="data source=10.118.12.96; initial catalog=SosDevDb;persist security info=True;user id=sa; password=Megacube#1; MultipleActiveResultSets=True; Timeout=10000" providerName="System.Data.SqlClient"/>
    <!--<add name="DefaultConnection" connectionString="data source=euitdsards01.cbfto3nat8jg.eu-west-1.rds.amazonaws.com;initial catalog=SosTestDb;persist security info=True;user id=SosTestAPIUser;password=pass#word1;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--<add key ="Mode" value ="Daily"/>-->
    <add key="Mode" value="Interval"/>
    <add key="IntervalMinutes" value="1"/>
    <add key="ScheduledTime" value="18:41"/>
    <add key="LogFilePath" value="D:\\Webs\\LiteSOSEmailLogs\\DEV\\ServiceLog.txt"/>
    <!--S3 Section-->
    <!--<add key="SOSS3AccessKey" value="AKIAIHVTR6DV6UJXANUA" />
    <add key="SOSS3SecretKey" value="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" />-->
    <add key="SOSS3Bucketname" value="project-lite-staging-bucket20200326092710470000000001"/>
    <!--<add key="SOSS3AccessKey" value="AKIAJPDRNC7LWONSUAYA" />
    <add key="SOSS3SecretKey" value="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" />
    <add key="SOSS3Bucketname" value="test-int-bucket" />-->
    <add key="SOSS3BucketFolder" value="transfer/sos/Temp"/>
    <!--<add key="A2SS3AccessKey" value="AKIAJPDRNC7LWONSUAYA" />
    <add key="A2SS3SecretKey" value="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" />-->
    <add key="A2SS3Bucketname" value="project-lite-staging-sos-int20200415094638927500000001t"/>
    <add key="A2SS3BucketFolder" value="transfer/a2s"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
