<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings>
    -->
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Vodafone-SOS_WebApp-20160906112147.mdf;Initial Catalog=aspnet-Vodafone-SOS_WebApp-20160906112147;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  <!--
    <add name="DefaultConnection" connectionString="data source=CICADA-TS1;initial catalog=VodafoneSOS;persist security info=True;user id=SosUser;password=pass#word1;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <!--<add key="UnobtrusiveJavaScriptEnabled" value="true" />-->
    <!--lines added by shubham -->
    <add key="webapibaseurl" value="http://localhost:49778/" />
    <add key="wiamwebservicebaseurl" value="http://localhost:101/" />
    <add key="SmtpServer" value="mail.megacube.com.au" />
    <add key="SenderEmail" value="notifier@megacube.com.au" />
    <add key="SenderPassword" value="notifier#123" />
    <add key="ExceptionEmailTo" value="rkumar@megacube.com.au" />
    <add key="ExceptionEmailCc" value="sgupta@megacube.com.au" />
    <add key="ExceptionEmailSubject" value="[SOSDev] Exception Notification" />
    <add key="ExceptionEmailProjectName" value="[SOSDev WebApp]" />
    <add key="MicrosoftOLEDBConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 12.0;HDR=Yes;IMEX=2;'" />
    <!--<add key="MicrosoftOLEDBConnectionString" value="Provider=Microsoft.JET.OLEDB.4.0;Data Source={0}; Extended Properties='Excel 8.0;HDR=Yes;'" />-->
    <add key="PayeeDocumentPath" value="S:/Temp" />
    <add key="ClaimsDocumentPath" value="S:/Temp" />
    <add key="RawDataDocumentPath" value="/ProjectFiles/RawDataFiles" />
    <add key="PayeeAuditPath" value="/ProjectFiles" />
    <add key="S3_SosFilePath" value="S:" />
    <add key="S3_S2ACommomFilePath" value="T:" />
    <add key="S3_A2SCommomFilePath" value="U:" />
    <add key="AttachedPayeeDocumentPath" value="S:" />
    <add key="AttachedClaimDocumentPath" value="S:" />
    <add key="PayeeCalcDocumentPath" value="U:" />
    <add key="ManualAdjustmentDocumentPath" value="S:" />
    <add key="ExportCalcDocumentPath" value="S:/Temp" />
    <add key="PayDocumentPath" value="S:/Temp" />
    <add key="S3_SupportFilePath" value="S:/SOS/Support" />
    <!--<add key="UserGuidesFilePath" value="S:/UserGuides" />-->
    <add key="UserGuidesFilePath" value="UserGuides" />
    <add key="TempDocumentPath" value="S:/Temp" />
    <!--Added by SG for displaying OTP validity time on HTML. This needs to match with same tag in API's web.config file-->
    <add key="OTPValidity" value="30" />
    <!--Added by RK to keep the base location for upload templates-->
    <add key="UploadTemplatePath" value="S:/Temp" />
    <add key="AlteryxReportsPath" value="U:/" />
    <add key="SOSBucketRootFolder" value="" />
    <!--<add key="SOSAWSAccessKey" value="AKIA2PZEKIVAQQOMOH6I" />
    <add key="SOSAWSSecretKey" value="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" />-->
    <add key="SOSBucketname" value="project-lite-staging-bucket20200326092710470000000001" />
    <!-- Following entry is for temp files used by application(GenericGrid etc.)-->
    <add key="SOSBucketFolder" value="Temp" />
    <!--Updated from temp to Temp -->
    <!-- Following is the path to store uploaded files(DocumentSets, RefFiles etc.)-->
    <!--<add key="A2SS3AccessKey" value="AKIA2PZEKIVA2M5UEY22" />
    <add key="A2SS3SecretKey" value="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" />-->
    <add key="A2SS3Bucketname" value="project-lite-staging-sos-int20200415094638927500000001" />
    <add key="A2SS3BucketFolder" value="transfer/a2s" />
    <add key="S2AS3BucketFolder" value="transfer/s2a" />
    <add key="LocalTempFileFolder" value="S:" />
    <!--Added by MS to show server outage banner-->
    <add key="SOSOutageBanner" value="" />
    <!--<add key="LocalTempFileFolder" value="S:/Temp/GenericGridTemp" />-->
    <!--Added by SB for SNS_USER-->
    <!--<add key="A2SS3AccessKey" value="AKIAJOXPDJ5YJHKWDZVA" />
    <add key="A2SS3SecretKey" value="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" />-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!--<authentication mode="None" />-->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="1" />
    </authentication>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="300" maxUrlLength="40000" maxQueryStringLength="40000" />
    <!--equal to 1 gb and time 5 min-->
    <!--Timeout in minutes-->
    <sessionState mode="InProc" timeout="60" cookieless="false" />
  </system.web>
  <system.webServer>
    <!--shubham added this tag to upload large files-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2000000000" maxUrl="40000" maxQueryString="40000" />
        <!--SS added maxUrl="40000" maxQueryString="40000" to resolve select ALL issue in Generic Grid-->
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--line added by shubham to increase json deserialization limit in bytes-->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>