<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="data source=euitdsards01.cbfto3nat8jg.eu-west-1.rds.amazonaws.com;initial catalog=SosDevDb;persist security info=True;user id=SosDevAPIUser;password=pass#word1;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="data source=euitdsards01.cbfto3nat8jg.eu-west-1.rds.amazonaws.com;initial catalog=SosTestDb;persist security info=True;user id=SosTestAPIUser;password=pass#word1;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="data source=10.118.12.96; initial catalog=SosDevDb;persist security info=True;user id=sa; password=Megacube#1; MultipleActiveResultSets=True; Timeout=10000" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <appSettings>
    <add key="ProjectEnviournment" value="Dev"/>
    <add key="ExceptionEmailTo" value="shivangi.baser@vodafone.com"/>
    <add key="ExceptionEmailCc" value="jasvinder.sambhy@vodafone.com"/>
    <add key="ExceptionEmailSubject" value="[SOS Nightly Job Exception Notification]"/>
    <add key="LogFilePath" value="D:\\Webs\\LiteSOSEmailLogs\\DEV\\ServiceLog.txt"/>
    <add key="SystemUser" value="sos@vodafone.com"/>
    <add key="ADUserName" value="svc-sostest"/>
    <add key="ADUserPassword" value="2et-cre7res4EweYaTuXAK5REdap2a"/>
    <add key="ActiveDirectoryOU" value="OU=Test,OU=SOS users,OU=Users,OU=vodafonelite,OU=ads,DC=ads,DC=vodafonelite,DC=com"/>
    <add key="AuditS3BucketName" value="lite-audit-logs"/>
    <!--<add key="AuditS3AccessKey" value="AKIA3VF7GINB7ZGICNOK" />
    <add key="AuditS3SecretKey" value="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" />-->
    <add key="AuditS3RootFolder" value="sos"/>
    <add key="LocalTempFileFolder" value="S:"/>
    <add key="AuditReportRunDay" value="29"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="KeepDataForYears" value="2"/>
    <!--SMTP Mail keys-->
    <!--<add key="SMTPUserId" value="AKIA2PZEKIVA7BJMOR4R" />
    <add key="SMTPPassword" value="BHjYZBFs2xkCeaRKhd4QSvtwKmk4YsJ2jYVQ0hFkjWRm" />-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
