<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.107.37" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.3.112" targetFramework="net461" />
  <package id="NPOI" version="2.3.0" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
</packages>